<!DOCTYPE html>
<html>
<head>
    <title>raspi4b2</title>
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}
</style>


</head>
<body>
    <h1>タイムラプス動画</h1>
    <!-- 日付ナビゲーション -->
    <a href="{{ url_for('index', date=prev_date.strftime('%Y%m%d')) }}">◀︎前日</a>
    <a href="{{ url_for('index', date=next_date.strftime('%Y%m%d')) }}">翌日▶︎</a>

    <!-- 特定の日付の動画を表示するためのフォーム -->
    <form action="/" method="get">
        <input type="date" name="date">
        <button type="submit">動画を表示</button>
    </form>

    {% if latest_video %}
        <!-- 動画表示 -->
        <h2>{{ latest_video }}</h2>
        <video width="640" height="480" controls>
            <source src="{{ url_for('static', filename='movie_link/' + latest_video) }}" type="video/mp4">
            お使いのブラウザはビデオタグをサポートしていません。
        </video>
    {% else %}
        <p>指定された日付の動画はありません。</p>
    {% endif %}

    <canvas id="dayChart" width="400" height="200"></canvas>
    <!-- weeklyグラフ用のキャンバス -->
    <canvas id="myChart" width="400" height="200"></canvas>

    <!-- Chart.jsのスクリプト -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <!-- 日別データ表示用のセクション -->
    <div id="dailyData"></div>

    <button id="run-script-btn">表示中の日付で動画生成</button>

    <script src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>

